div.static {
    position: static;
    border: 3px solid #73AD21;
}

#div2.static {
	border-radius: 15px;
	background-color: green;
	color: white;
	text-align: left;
	margin: 22px;
}

#div3.static {
	border-radius: 15px;
	background-color: green;
	color: white;
	text-align: center;
	margin: 22px;
}

#div4.static {
	border-radius: 15px;
	background-color: green;
	color: white;
	text-align: right;
	margin: 22px;
}
#div5.static {
	border-radius: 15px;
	background-color: orange;
	color: white;
	text-align: center;
	margin: 22px;
	font-size: 100px;
}